Repository prismworks-ai/prism-mcp-rs: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration

codecov.yml:

# Codecov configuration for MCP Protocol SDK
# This ensures the codecov badge updates properly

coverage:
  precision: 2
  round: down
  range: 70..95
  
  status:
    project:
      default:
        target: 85%
        threshold: 1%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
        if_ci_failed: error

comment:
  layout: "header, diff, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "tests/integration_e2e_http.rs"
  - "tests/integration_e2e_websocket.rs"
  - "examples/"
  - "benches/"
  - "target/"

flags:
  unittests:
    paths:
      - src/
  integration:
    paths:
      - tests/
      - "!tests/integration_e2e_http.rs"
      - "!tests/integration_e2e_websocket.rs"

add Benchmark (customSmallerIsBetter) benchmark result for 54ecec907cb7c2e3139b8ba33a1bf9cad3b88080
  benchmarks/data.js
Due: none

chore: automate release tagging workflow
  .github/workflows/auto-tag-release.yml
  CONTRIBUTING.md
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for c498aafe7956ee6a9f8373923be4b96cd3fa7784
  benchmarks/data.js
Due: none

chore: update dependency constraints
  Cargo.toml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 4d9b4e6cd454e46dd98377dac9e26f43baf26893
  benchmarks/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 4eec2f4e60cfc926719892721ec1a31bb058e83a
  benchmarks/data.js
Due: none

Enhance API ergonomics
  src/core/prompt.rs
  src/core/resource.rs
  src/core/tool.rs
  src/lib.rs
  src/protocol/messages.rs
Due: unittests

add Benchmark (customSmallerIsBetter) benchmark result for 608efaad4afc13a2e8b801da3ea47d864a0aa168
  benchmarks/data.js
Due: none

Improve quality baseline
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Cargo.toml
  README.md
  benches/all_benchmarks.rs
  tests/integration_e2e_http.rs
  tests/integration_e2e_websocket.rs
  utilities/benchmarks/plugin_benchmarks.rs
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 95bac555c2c1c54815a18806dc4679777b89ddff
  benchmarks/data.js
Due: none

Fix lint issues
  examples/generated/README.md
  src/test_utils/mod.rs
  src/transport/stdio.rs
  src/transport/websocket.rs
  tests/integration_e2e_stdio.rs
Due: unittests, integration

add Benchmark (customSmallerIsBetter) benchmark result for 62b392037d927f1bad5dd309eb7e7e0636b84f36
  benchmarks/data.js
Due: none

Refresh documentation and compliance messaging
  README.md
  docs/guides/migration.md
  docs/guides/plugins.md
  docs/index.html
Due: none

Fix clippy warning in websocket integration test
  tests/integration_e2e_websocket.rs
Due: none

Enable cancel-in-progress across workflows
  .github/workflows/dependency-update.yml
  .github/workflows/pages.yml
  .github/workflows/security-audit.yml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 4247e1bb99dee7ada991b3421b28967a4d99e5b7
  benchmarks/data.js
Due: none

Fix clippy warning in HTTP integration test
  tests/integration_e2e_http.rs
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 6a9d66de439502ba096d92a45a2bde59f9e9c1a4
  benchmarks/data.js
Due: none

Address clippy regressions in integration tests
  tests/integration_cross_transport.rs
Due: integration

add Benchmark (customSmallerIsBetter) benchmark result for 992e5e09d14a3c0112dd91363461210082d0cbc2
  benchmarks/data.js
Due: none

chore: refresh dependency baselines
  Cargo.toml
  src/auth/mod.rs
  src/auth/pkce.rs
Due: unittests

add Benchmark (customSmallerIsBetter) benchmark result for ec2fb4296b125b5dafe3c3d6801176748aad2911
  benchmarks/data.js
Due: none

release: cut v2.0.0 for protocol update
  CHANGELOG.md
  Cargo.toml
  docs/guides/plugins.md
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 9cfcc93bbfb8bf0862e37f243eceb80c371da57c
  benchmarks/data.js
Due: none

add notifications processing
  src/transport/http.rs
Due: unittests

fix: accept http json-rpc notifications
  src/transport/http.rs
  src/transport/http_route_handler_tests.rs
  tests/http_sse_streaming_tests.rs
Due: unittests, integration

add Benchmark (customSmallerIsBetter) benchmark result for e3405bcc24957ff76989f90d3ee8717f9a8cebbe
  benchmarks/data.js
Due: none

chore: release v2.0.1
  CHANGELOG.md
  Cargo.toml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for d98140f6122e4a69ca72ac53ab02173ab49c9888
  benchmarks/data.js
Due: none

chore: resolve python quality findings
  fix_examples.py
  scripts/docs/check-docs-quality.py
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 0f0700f183e8820d889d3c15b5ee9a4eef3b5978
  benchmarks/data.js
Due: none

chore: address github quality suggestions
  CHANGELOG.md
  scripts/docs/check-docs-quality.py
  tests/http_sse_streaming_tests.rs
Due: integration

test: clean up http sse fixtures
  tests/http_sse_streaming_tests.rs
Due: integration

add Benchmark (customSmallerIsBetter) benchmark result for cf1e204f61ad126eaaf589461193012b817d4d3e
  benchmarks/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for e9f57ccea2080a2eec60bff70eabddf40f6ac8b2
  benchmarks/data.js
Due: none

ci: replace nightly updates with Dependabot
  .github/dependabot.yml
  .github/workflows/SETUP.md
  .github/workflows/ci.yml
  .github/workflows/dependencies.yml
  .github/workflows/dependency-update.yml
  .github/workflows/security-audit.yml
  .github/workflows/security.yml
  README.md
  SECURITY.md
  scripts/dev/verify-environment.sh
  scripts/utils/badge-manager.sh
  scripts/utils/diagnose-badges.sh
  scripts/utils/fix-badges.sh
  scripts/utils/refresh-badges.sh
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 70e3d7bad74bdba1d67cdae83bfa8cf015d69f89
  benchmarks/data.js
Due: none

release: prepare v2.0.2
  CHANGELOG.md
  Cargo.toml
  docs/PRODUCTION_CONTROLS.md
  examples/generated/README.md
  src/core/completion_handlers.rs
  src/lib.rs
Due: unittests
