Repository prismworks-ai/prism-mcp-rs: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration

feat: Major SDK improvements - async support, builder pattern, and enhanced DX
  ARCHITECTURE.md
  CHANGELOG.md
  Cargo.toml
  MIGRATION.md
  PROJECT_STRUCTURE.md
  README.md
  docs/API_FIXES.md
  docs/API_IMPROVEMENTS_2025_08_15.md
  examples/async_server.rs
  examples/bidirectional.rs
  examples/custom_transport.rs
  examples/server/enhanced_echo_server.rs
  examples/server/plugin_server.rs
  examples/server_builder_demo.rs
  examples/streaming_http_showcase.rs
  src/client/mod.rs
  src/core/mod.rs
  src/lib.rs
  src/plugin/comprehensive_test.rs
  src/plugin/manager.rs
  src/plugin/manager_test.rs
  src/plugin/mod.rs
  src/plugin/types.rs
  src/protocol/error_helpers.rs
  src/protocol/mod.rs
  src/protocol/types.rs
  src/server/async_methods.rs
  src/server/builder.rs
  src/server/mcp_server.rs
  src/server/mod.rs
  src/test_utils/mod.rs
  src/transport/mod.rs
  src/transport/traits.rs
  tests/integration_cross_transport.rs
Due: unittests, integration

Fix CI workflow - remove references to old validate_examples test
  .github/workflows/ci-local.yml
Due: none

Add optimized Act scripts with Docker BuildKit caching
  .actrc
  .github/workflows/event.json
  scripts/act-ci.sh
  scripts/act-clean.sh
Due: none

fix: apply cargo fmt and resolve CI issues
  .actrc
  Cargo.toml
  MIGRATION.md
  README.md
  docs/ARCHITECTURE.md
  examples/README.md
  examples/advanced_features_showcase.rs
  examples/chunked_encoding_showcase.rs
  examples/http2_showcase.rs
  examples/sse_showcase.rs
  examples/transport_selection_guide.rs
  scripts/act-ci.sh
  src/client/mcp_client.rs
  src/client/request_handler.rs
  src/core/error.rs
  src/core/logging.rs
  src/core/retry.rs
  src/core/tool_discovery.rs
  src/core/tool_metadata.rs
  src/server/mcp_server.rs
  src/transport/http.rs
  src/transport/http_route_handler_tests.rs
  src/transport/mod.rs
  src/transport/streaming_http.rs
  src/transport/websocket.rs
  tests/http_server_route_tests.rs
  tests/http_sse_streaming_tests.rs
Due: unittests, integration

chore: Clean up SDK after macro migration
  Cargo.toml
  README.md
  docs/guides/migration.md
  examples/README.md
  examples/complete_workflow.rs
  examples/error_recovery.rs
  examples/plugin_integration.rs
  tests/protocol_missing_types_tests.rs
  tests/protocol_tests.rs
Due: integration

docs: Professional documentation with core differentiators
  Cargo.toml
  README.md
Due: none

docs: Restore comprehensive badge collection
  README.md
Due: none

docs: Complete documentation overhaul with professional standards
  CONTRIBUTING.md
  MIGRATION.md
  docs/ARCHITECTURE.md
  docs/GETTING_STARTED.md
  docs/README.md
  docs/guides/performance.md
  docs/internal/ACT_GUIDE.md
  docs/internal/API_FIXES.md
  docs/internal/API_IMPROVEMENTS_2025_08_15.md
  docs/internal/DOCUMENTATION_FIXES_COMPLETE.md
  docs/internal/STYLE_GUIDE.md
  docs/internal/api-reference.md
Due: none

docs: Update CHANGELOG with all core features and improvements
  CHANGELOG.md
Due: none

legal: Add proper licensing and security documentation
  CONTRIBUTORS.md
  SECURITY.md
  src/lib.rs
Due: unittests

fix: Add trailing newlines to test files for formatting compliance
  tests/protocol_missing_types_tests.rs
  tests/protocol_tests.rs
Due: integration

fix: resolve security audit warnings
  Cargo.toml
Due: none

fix: correct StdioTransport import in doctest
  src/lib.rs
  src/server/mcp_server.rs
Due: unittests

style: apply cargo fmt
  src/server/mcp_server.rs
Due: unittests

Fix intermittent doc_examples test failure
  examples/generated/README.md
  examples/generated/client_mcp_client_example_1.rs
  examples/generated/core_completion_example_1.rs
  examples/generated/core_completion_example_2.rs
  examples/generated/core_completion_example_3.rs
  examples/generated/core_completion_example_4.rs
  examples/generated/core_completion_handlers_example_1.rs
  examples/generated/core_completion_handlers_example_2.rs
  examples/generated/core_completion_handlers_example_3.rs
  examples/generated/core_completion_handlers_example_4.rs
  examples/generated/server_mcp_server_basic_server_creation.rs
  examples/generated/server_mcp_server_example_1.rs
  examples/generated/server_mcp_server_using_serverbuilder.rs
  examples/generated/test_utils_mod_example_1.rs
  examples/generated/test_utils_mod_example_10.rs
  examples/generated/test_utils_mod_example_11.rs
  examples/generated/test_utils_mod_example_12.rs
  examples/generated/test_utils_mod_example_13.rs
  examples/generated/test_utils_mod_example_14.rs
  examples/generated/test_utils_mod_example_2.rs
  examples/generated/test_utils_mod_example_3.rs
  examples/generated/test_utils_mod_example_4.rs
  examples/generated/test_utils_mod_example_5.rs
  examples/generated/test_utils_mod_example_6.rs
  examples/generated/test_utils_mod_example_7.rs
  examples/generated/test_utils_mod_example_8.rs
  examples/generated/test_utils_mod_example_9.rs
  tests/doc_examples.rs
Due: integration

Fix documentation tests and CI workflows
  .github/workflows/benchmarks.yml
  .github/workflows/ci-local.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  src/lib.rs
  src/server/mcp_server.rs
  src/transport/mod.rs
Due: unittests

Fix compilation warnings for pre-push CI
  examples/advanced_features_showcase.rs
  examples/custom_transport.rs
  examples/http2_showcase.rs
  examples/sse_showcase.rs
  tests/http_server_route_tests.rs
  tests/test_new_features.rs
Due: integration

Fix syntax and formatting errors
  examples/advanced_features_showcase.rs
  tests/test_new_features.rs
Due: integration

Fix compilation warnings and errors in examples
  examples/advanced_features_showcase.rs
  examples/chunked_encoding_showcase.rs
  examples/convenience_methods_demo.rs
  examples/server_builder_demo.rs
Due: none

feat: Add bench feature and coverage report
  Cargo.toml
  reports/coverage-report.md
Due: none

fix: Apply code formatting to examples
  examples/chunked_encoding_showcase.rs
Due: none

fix: Resolve all build warnings and test issues
  Cargo.toml
  src/server/builder.rs
Due: unittests

Optimize CI infrastructure and update test reports
  .github/workflows/ci-local.yml
  Makefile
  reports/benchmark-report.md
  reports/coverage-report.md
  scripts/act-ci.sh
  scripts/local-ci.sh
  tests/phase4_comprehensive_test_coverage.rs
  tests/roots_implementation_test.rs
Due: integration

Add benchmark badges and enhance GitHub Pages integration
  .github/workflows/benchmarks.yml
  README.md
  deny.toml
  examples/advanced_2025_features.rs
  src/core/completion.rs
Due: unittests

Fix CI issues: benchmark tool config and formatting
  .github/workflows/benchmarks.yml
  examples/advanced_2025_features.rs
Due: none

Fix benchmark workflow configuration
  .github/workflows/benchmarks.yml
  Cargo.toml
Due: none

fix: Add OpenSSL dependencies to release workflow
  .github/workflows/release.yml
Due: none

fix: Update cargo-deny config and fix cargo-vet lockfile issue
  .github/workflows/security.yml
  deny.toml
Due: none

fix: Eliminate OpenSSL dependency and fix benchmark JSON format
  .github/workflows/benchmarks.yml
  .github/workflows/release.yml
  Cargo.toml
Due: none

fix: resolve GitHub workflow issues
  .github/workflows/benchmarks.yml
  .github/workflows/release.yml
Due: none

Initial gh-pages branch for benchmark storage
  README.md
Due: none

fix: resolve all GitHub workflow issues
  .github/workflows/release.yml
  .github/workflows/security.yml
  deny.toml
  deny.toml.broken
  supply-chain/audits.toml
  supply-chain/config.toml
Due: none

fix: add write permissions to benchmark workflow
  .github/workflows/benchmarks.yml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 11e2bb1a40526c22a7a2603a1a8f919e36e790d7
  benchmarks/data.js
  benchmarks/index.html
Due: none

fix: remove github-pages environment to resolve tag deployment restrictions
  .github/workflows/release.yml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for de11427748c3c60a047b4a4e455a7f449c92301c
  benchmarks/data.js
Due: none

fix: make release creation idempotent to handle existing releases
  .github/workflows/release.yml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for b40a7148140144130f63e06b22daf10e0d8b4c52
  benchmarks/data.js
Due: none

fix: shorten keywords for crates.io compatibility
  Cargo.toml
Due: none

Path conditions:
  unittests: any of: src/, but not: tests/integration_e2e_http.rs, tests/integration_e2e_websocket.rs, examples/, benches/, target/
  integration: any of: tests/, but not: tests/integration_e2e_http.rs, tests/integration_e2e_websocket.rs, tests/integration_e2e_http.rs, tests/integration_e2e_websocket.rs, examples/, benches/, target/
